html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
}
ul, li, h1, h2, h3, h4, h5, h6{
  list-style: none;
  margin: 0;
  padding: 0;
}
.scroll-roll{
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.bim-viewer{
  flex: 1;
}
.bim-btn-group{
  margin-top: 15px;
  position: fixed;
  z-index: 2;
  left: 0;
  display: flex;
  flex-direction: column;
}
.bim-btn-group-right{
  left: initial;
  right: 0;
  margin-top: 57px;
}
.bim-btn-group-right .bim-btn{
  border-radius: 45px 0 0 45px;
}
.bim-btn{
  margin-bottom: 10px;
  background: #4778F3;
  color: #fff;
  line-height: 2.3;
  font-size: 13px;
  padding: 0 1.34em;
  border-radius: 0 45px 45px 0;
  border: 0;
  outline: none;
  display: none;
}
.bim-btn.show-btn{
  display: block;
}
.bim-viewer .gmmk{
  background: rgba(0, 0, 0, 0.5);
  padding: 0 5px 4px;
  border-radius: 4px;
  box-shadow: 0, 0, 5px, rgba(255, 255, 255, 0.3); 
  display: flex;
  align-items: center;
  justify-content: center;  
}
.bim-viewer .gmmk text{
  font-size: 9px !important;
}
.mui-active .mui-off-canvas-right{
  transform: translate3d(0,0,0) !important;
}
#app{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.wrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.inner-wrap{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.wrap .menu{
  transform: translate3d(100%,0,0);
  transition: all 0.4s;
  width: 86%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  display: flex;
  flex-direction: column;
}
.wrap.active .menu{
  transform: translate3d(0,0,0);
}
.wrap.active .modal-bg{
  content: '';
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  font-weight: 800;
  font-size: 14px;
  height: 34px;
  background: rgba(238, 238, 238, 1);
  color: #757575;        
}
.header .icon {
  color: #999;
  font-size: 20px;
  font-weight: normal;
}
.content {
  padding: 12px;
}
.content .label {
  margin-bottom: 10px;
  font-weight: normal;
  color: #757575;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.content .input {
  border: 1px solid #ddd;
  height: 32px;
  line-height: 32px;
  text-indent: 6px;
  border-radius: 2px;
}
.content .input-holder {
  color: #ccc;
  font-size: 14px;
}
.content .item-line {
  margin-bottom: 16px;
  height: 1px;
  background: rgba(241, 241, 241, 1);
}
.foot {
  padding: 12px 20px;
  display: flex;
  background: #fff;
  border-top: 1px solid #eaeaea;      
}
.foot .btn-wrap {
  margin: 0 7px;
  border-radius: 40px;
  border-color: #496fe5;
  color: #496fe5;
  font-size: 14px;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.foot .btn-wrap.primary {
  background: #496fe5;
  color: #fff;
}
.scroll-roll{
  flex: 1;
}
.tag-wrap {
  margin: 0 -6px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.tag-wrap > li {
  padding: 0 5px;
  text-align: center;
  width: 82px;
  height: 30px;
  line-height: 30px;
  background:rgba(223,223,223,0.7);
  border-radius:1px;
  color: #454545;
  font-size: 12px;
  margin: 0 0 7px 7px;
  transition: all 0.4s;
}
.tag-wrap > li.active {
  color: #3558C8;
  background:rgba(197,210,252,1);
}
.message{
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s;
  font-size: 12px;
  color: #fff;
  opacity: 0;
  padding: 20px;
}
.message.active{
  transform: scale(1);
  opacity: 1;
}
.message-content{
  padding: 10px 15px;        
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
}

.modal-list li{
  padding: 15px 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  border-bottom: 1px #eaeaea solid;
  transition: all 0.4s;
}
.modal-list li:last-child{
  border: 0;
}
.modal-list li span{
  padding: 0 4px;
  font-size: 12px;
}
.modal-list li .desc{
  flex: 2;
}
.modal-list li .degree,
.modal-list li .check-point{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal-list li .point{
  margin-right: 4px;
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.modal-list li:hover,
.modal-list li.active{
  background: rgba(73, 111, 229, 0.3);
}
.guid-title{
  font-size: 14px;
  font-weight: bold;
}
.guid-list li{
  padding: 15px 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  border-bottom: 1px #eaeaea solid;
  transition: all 0.4s;
}
.guid-list li .title{
  padding: 0 10px;
  flex: 1;
  font-size: 12px;
}
.guid-list li .del{
  color: #FC5556;
}
/*--重写bim样式，防止被覆盖--*/
.adsk-viewing-viewer{
  position: static;
}
.docking-panel{
  transition: all 0.4s;
  top: 20px !important;
  left: 50% !important;
  margin-left: -150px;
}
.docking-panel-footer{
  display: none !important;
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
    background: rgba(0, 0, 0, 0.7);
  }
  50% {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: scale(1);
    background: rgba(0, 0, 0, 0.7);
  }
}
.progress-time{
  position: absolute;
  z-index: 9999;
  top: -40px;
  left: 50%;
  width: 100px;
  height: 25px;
  margin-left: -50px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  transition: all 0.4s;  
  opacity: 0;
  animation: scaleAnimation 2s infinite;
}
.progress-time.active{
  top: 0; 
  opacity: 1;
}
.ivu-checkbox-wrapper-disabled{
  display: none;
}
.question-roll{
  max-height: 260px;
}
.modal-con{
  display: none;
}
.modal-con.modal-success{
  display: block;
}