<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>查看模型</title>  
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">         
    <link rel="stylesheet" href="http://luoyang.gim6d.com:28081/bimFront/V1.6.2/lib/style.css" type="text/css">
    <link rel="stylesheet" href="./style/base.css" type="text/css">
    <script src="./js/vue.min.js"></script>
    <script src="http://luoyang.gim6d.com:28081/bimFront/V1.6.2/thirdpart/jquery/jquery.min.js"></script>
    <script src="http://luoyang.gim6d.com:28081/bimFront/V1.6.2/thirdpart/snap/snap.svg-min.js"></script>
    <script src="http://luoyang.gim6d.com:28081/bimFront/V1.6.2/thirdpart/html2canvas/html2canvas.min.js"></script>
    <script src="http://luoyang.gim6d.com:28081/bimFront/V1.6.2/lib/viewer3D.js"></script>
    <script src="http://luoyang.gim6d.com:28081/bimFront/V1.6.2/lib/Matcal.js" type="text/javascript"></script>
    <script src="http://luoyang.gim6d.com:28081/bimFront/V1.6.2/Bimfish.min.js"></script> 
    <script type="text/javascript" src="https://js.cdn.aliyun.dcloud.net.cn/dev/uni-app/uni.webview.1.5.2.js"></script>
    <script src="./js/lodash.min.js"></script>
    <script>      
      // 获取地址栏参数
      function getUrlStr(key) {
        try{
          var url = window.location.search;
          var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
          var result = url.substr(1).match(reg);
          return result ? decodeURIComponent(result[2]) : null;
        }catch(e){
          return ''
        }         
      }
      var AppBimfish = null;
      var configId = getUrlStr('configId')
      var showBtn = getUrlStr('showBtn')
      var url = getUrlStr('url')
      var entityId = getUrlStr('id')
      var modelUrl = url
      var token = getUrlStr('token')
      var labelName = '关联名称'
      var currentGuid = ''
      var entityName = getUrlStr('entityName') || '模型展示'
      var floorList = [] // 楼层数据
      var floorProblemsList = {} // 楼层问题数据
      var floorNum = getUrlStr('floorNum') || '' // 传入楼层数   
      var env = getUrlStr('env')
      var baseUrl = location.origin
      var projectId = getUrlStr('projectId') || '' // 项目id
      var api = {
        system: baseUrl + '/cim6d-system' + env,
        construction: baseUrl + '/cim6d-construction' + env,
        safety: baseUrl + '/cim6d-quality-safety' + env,
        dataProcess: baseUrl + '/cim6d-bim-light' + env,
        bimSynergy: baseUrl + '/cim6d-bim-synergy' + env,
        bimSchedule: baseUrl + '/cim6d-schedule' + env
      }   
      
      var modelUrlList = [] // 临时拼接模型
      document.title = entityName
      // http 请求封装
      function http(type, url, data, callBack) {        
        if(!token){
          return
        }
        $.ajax({  
          headers: {  
            'Content-Type': 'application/json',
            'x-access-token': token
          },  
          type,
          dataType: "json",
          data: data,
          url,
          success: function (res) {
            callBack(res)
          }
        })
      }
      // 动态改变图形
      function getPropertyByGUID(currentGuid, isMaterials){
        AppBimfish.getPropertyByGUID(currentGuid, (err, e) => {
            e.map(item => {
              if(item.displayName === labelName){
                if(!isMaterials){                  
                  AppBimfish.search(item.displayValue, labelName, (array) => {
                    AppBimfish.isolate(array)
                  },true)
                }else{
                  var title = item.displayValue
                  var floorNum = item.displayValue.split('-')[1].replace('F', '')
                  uni.navigateTo({  
                    url: `/pages/task/materials?title=${title}&floor=${floorNum}` 
                  }); 
                }
              }
            })
          })
      }
      // 获取属性
      function getAttribute(isMaterials = false){
        AppBimfish.getComponentGuid(function (err, guid) {
          if(guid){
            currentGuid = guid
          }        
          if(!currentGuid){
            return
          }  
          getPropertyByGUID(currentGuid, isMaterials)
        })
      }
    </script>
    <style>
      html,body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        display: flex;
      }
      .bim-viewer{
        flex: 1;
      }
      .bim-btn-group{
        margin-top: 15px;
        position: fixed;
        z-index: 2;
        left: 0;
      }
      .bim-btn-group-right{
        left: initial;
        right: 0;
        margin-top: 57px;
      }
      .bim-btn-group-right .bim-btn{
        border-radius: 45px 0 0 45px;
      }
      .bim-btn{
        margin-bottom: 10px;
        background: #4778F3;
        color: #fff;
        line-height: 2.3;
        font-size: 13px;
        padding: 0 1.34em;
        border-radius: 0 45px 45px 0;
        border: 0;
        outline: none;
        display: none;
      }
      .bim-viewer .gmmk{
        background: rgba(0, 0, 0, 0.5);
        padding: 0 5px 4px;
        border-radius: 4px;
        box-shadow: 0, 0, 5px, rgba(255, 255, 255, 0.3); 
        display: flex;
        align-items: center;
        justify-content: center;  
      }
      .bim-viewer .gmmk text{
        font-size: 9px !important;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div class="message" :class="{active: messagePrams.status}">
        <div class="message-content">{{messagePrams.title}}</div>
      </div>
      <div class="wrap" :class="{'active': modalStatus}">
        <div class="progress-time" :class="{active: progressStart.progressTimeIndex > 0 && progressStart.progressTimeIndex < progressStart.progressTimeList.length}" v-text="progressStart.pointDate"></div>
        <div class="bim-btn-group" v-if="showBtn">
          <button class="bim-btn" size="mini" @click="showModal()">筛选</button>
          <button class="bim-btn" size="mini" @click="resetBim()">整栋模型</button>
          <button class="bim-btn" size="mini" @click="hideQuality()" v-if="bimType === '2' || bimType === '3'">{{hideQualityStatus ? '显示问题' : '隐藏问题'}}</button>
          <button class="bim-btn" size="mini" @click="progressParamsStatus = true" v-if="bimType === '5'">进度模拟</button>
        </div>
        <div class="modal-bg" @click="showModal"></div>
        <aside class="menu">
          <div class="header">
            <span>数据筛选</span>
            <span class="icon" @click="showModal()">×</span>
          </div>
          <div class="scroll-roll">
            <div class="content">
              <template v-for="(item, i) in entityTreeData">
                <h6 :key="item.value" class="label">{{ item.label }}</h6>
                <ul class="tag-wrap">
                  <li :class="{active: selectEntity.includes(tag.value)}" v-for="tag in item.children" @click="changeEntity(tag.value)">{{tag.label}}</li>
                </ul>
              </template>
              <ul v-if="bimType === '2' || bimType === '3'" class="modal-list">
                <li
                  v-for="(item, i) in modalList"
                  :key="i"
                  :class="{ active: item.id === selectGuidId }"
                  @click="qualityProblemBimBind(item)"
                >
                  <span>{{ i + 1 }}</span>
                  <span class="desc">{{ item.issueDescription }}</span>
                  <span class="degree">
                    <span
                      class="point"
                      :style="{ background: _.get(_.find(urgencyDegreeList, { value: item.emergencyLevel }), 'color') }"
                    ></span>
                    <span>{{ _.get(_.find(urgencyDegreeList, { value: item.emergencyLevel }), 'label') }}</span>
                  </span>
                  <span class="check-point">{{ item.inspectArea || '暂无' }}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="foot">
            <div class="btn-wrap primary" @click="search()">确定</div>
          </div>
        </aside>
        <!-- 主页面容器 -->
        <div class="inner-wrap">
          <div id="bimViewer" class="bim-viewer"></div>
        </div>
        <!-- <modal
            v-model="progressParamsStatus"
            title="进度模拟">
            <i-form :label-width="80">
              <form-item label="选择工期">
                  <i-select v-model="progressParams.type">
                      <i-option :value="1">计划工期</i-option>
                      <i-option :value="2">实际工期</i-option>
                  </i-select>
              </form-item>
              <form-item label="开始日期">
                <date-picker v-model="beginDate" type="date" style="width: 100%;" @on-change="e => progressParams.beginDate = e"></date-picker>
              </form-item>
              <form-item label="结束日期">
                <date-picker v-model="endDate" type="date" style="width: 100%;" @on-change="e => progressParams.endDate = e"></date-picker>
              </form-item>
              <form-item label="时间跨度">
                  <i-select v-model="progressParams.timeSpan">
                      <i-option :value="3">月</i-option>
                      <i-option :value="2">周</i-option>
                      <i-option :value="1">日</i-option>
                  </i-select>
              </form-item>
            </i-form>
            <div slot="footer">
              <i-button size="large" @click="progressParamsStatus = false">取消</i-button>
              <i-button type="primary" size="large" :loading="progressLoading" @click="saveProgress()">确定</i-button>
          </div>
        </modal> -->
      </div>
    </div>
    <script>
      document.addEventListener('UniAppJSBridgeReady', function() {  
        // // 查看材料清单
        // document.querySelector('#bimBtn').addEventListener('click', function(evt) {  
        //   var target = evt.target;  
        //   if (target.tagName === 'BUTTON') {  
        //     getAttribute(true)
        //   }  
        // }); 
        // // 单层模型
        // document.querySelector('#bimModelBtn').addEventListener('click', function(evt) {  
        //   var target = evt.target;  
        //   if (target.tagName === 'BUTTON') {  
        //     getAttribute()
        //   }  
        // });  
        // // 整栋模型
        // document.querySelector('#bimModelAllBtn').addEventListener('click', function(evt) {  
        //   var target = evt.target;  
        //   if (target.tagName === 'BUTTON') {  
        //     currentGuid = ''
        //     AppBimfish.showAll()
        //     AppBimfish.clearThemingColors()
        //     AppBimfish.clearTextDrawableMarker()
        //     getFloorList()
        //   }  
        // });  
        
        // // 隐藏问题
        // document.querySelector('#bimHideProblems').addEventListener('click', function(evt) {  
        //   var target = evt.target;  
        //   if (target.tagName === 'BUTTON') {  
        //     AppBimfish.clearTextDrawableMarker()
        //   }  
        // });
        
        // // 显示问题
        // document.querySelector('#bimShowProblems').addEventListener('click', function(evt) {  
        //   var target = evt.target;  
        //   if (target.tagName === 'BUTTON') {  
        //     AppBimfish.clearTextDrawableMarker()
        //     getFloorProblems()
        //   }  
        // });   
      });
      // if(showBtn === 'true'){
      //   document.getElementById('bimBtn').style.display = 'block'
      //   document.getElementById('bimModelBtn').style.display = 'block'  
      //   document.getElementById('bimModelAllBtn').style.display = 'block' 
      //   document.getElementById('bimHideProblems').style.display = 'block' 
      //   document.getElementById('bimShowProblems').style.display = 'block'
      // }
      // 高亮颜色
      function selectAttribute(array, callback){
        if(array.length === 0){
          return;
        }
        let entityIdList = entityId.split('_')
        $.ajax({  
          headers: {  
            'Content-Type': 'application/json',
            'x-access-token': token
          },  
          type: "post",
          data: JSON.stringify({
            "modelId": entityIdList[0],
            "modelVersion": entityIdList[1],
            "attributeName": "关联名称",
            "attributeValueList": array
          }),
          dataType: "json",
          url: `${location.origin}/cim6d-data-processing/bim/component/selectAttribute`,
          success: function (res) {
            if(res.data.length > 0){
              callback(res.data)
              AppBimfish.viewer.impl.invalidate(false,false,true)
            }            
          }
        })        
      }

      // 多条件查询guid
      function searchMultiAttribute(obj) {
        // 查询缓存中是否有数据
        if(floorProblemsList[obj.floorNum]){
          AppBimfish.addDrawableTextMarkerByGUID([floorProblemsList[obj.floorNum][obj.index]], `${obj.floorNum}层 ${obj.name}（${obj.number}）`, obj.color, obj.callback) 
          return
        }
        let entityIdList = entityId.split('_')
        $.ajax({  
          headers: {  
            'Content-Type': 'application/json',
            'x-access-token': token
          },  
          type: "post",
          data: JSON.stringify({
            "modelId": entityIdList[0],
            "modelVersion": entityIdList[1],
            //"rows": 3,
            "attributeList": [
              {
                'attributeName': "关联名称",
                'attributeValueList': obj.list
              }
            ]
          }),
          dataType: "json",
          url: `${location.origin}/cim6d-data-processing/bim/component/selectMultiAttribute`,
          success: function (res) {
            if(!res.data || res.data.length == 0){
              return
            }
            floorProblemsList[obj.floorNum] = res.data
            AppBimfish.addDrawableTextMarkerByGUID([res.data[obj.index]], `${obj.floorNum}层 ${obj.name}（${obj.number}）`, obj.color, obj.callback)           
          }
        })
      }
      
      // 获取楼层问题
      function getFloorProblems() {
        floorList.map((item) => {
          let newItem = [entityName + '-' + 'F' + item.floorNum, entityName + 'F' + item.floorNum]      
          // 质量问题      
          if(item.qualityIssueNum > 0){                  
            searchMultiAttribute({
              name: '质量',
              index: 0,
              floorNum: item.floorNum,
              list: newItem,
              number: item.qualityIssueNum,
              color: '#ff9900',
              callback: () => {
                console.log('安全问题回调事件')
                uni.navigateTo({  
                  url: `/pages/inspect/index?entityId=${entityId}&floorId=${item.floorId}` 
                });
              }
            })
          } 
          // 安全问题  
          if(item.safetyIssueNum > 0){  
            searchMultiAttribute({
              name: '安全',
              index: 1,
              floorNum: item.floorNum,
              list: newItem,
              number: item.safetyIssueNum,
              color: '#ff0000',
              callback: () => {
                console.log('安全问题回调事件')
                uni.navigateTo({  
                  url: `/pages/safe/index?entityId=${entityId}&floorId=${item.floorId}` 
                });
              }
            })
          }
        }) 
      }

      // 单体下楼层列表
      function getFloorList() {
        if(!token){
          return;
        }
        $.ajax({  
          headers: {  
            Accept: "application/json; charset=utf-8",
            'x-access-token': token
          },  
          type: "get",
          url: `${location.origin}/cim6d-construction/working/procedure/floor/list/${configId}`,
          success: function (res) {  
            if(res.code === 200){
              floorList = res.data
              var notStartedList = {
                color: [0.4,0.4,0.4,0.4],
                list: []
              } // 未开始
              var haveInList = {
                color: [0.1569,0.4,0.7843,0.4],
                list: []
              } // 进行中
              var advanceList = {
                color: [0.1804, 0.6902, 0.2980, 0.4],
                list: []
              } // 提前完成
              var delayList = {
                color: [0.7725, 0.1412, 0.1412, 0.4],
                list: []
              } // 延期完成
              floorList.map((item) => {
                let newItem = [entityName + '-' + 'F' + item.floorNum, entityName + 'F' + item.floorNum]     

                // 未开始
                if(!item.status){
                  notStartedList.list.push(...newItem)
                }
                // 进行中
                if(item.status === 1){
                  haveInList.list.push(...newItem)
                }
                // 已完成
                if(item.status === 3){
                  let floorColor = []
                  // 提前完成颜色
                  if(item.diff < 0){ 
                    advanceList.list.push(...newItem)       
                  }
                  // 延期完成颜色
                  if(item.diff > 0){
                    delayList.list.push(...newItem)    
                  }
                }
              })
              
              // 顶楼颜色
              selectAttribute([entityName + '-RF', entityName + 'RF'], result => {
                AppBimfish.setThemingColorArray(result, 0.4,0.4,0.4,0.4)
              })
              
              // 未开始楼层高亮
              selectAttribute(notStartedList.list, result => {
                AppBimfish.setThemingColorArray(result, ...notStartedList.color)
              })

              // 进行中楼层高亮
              selectAttribute(haveInList.list, result => {
                AppBimfish.setThemingColorArray(result, ...haveInList.color)
                // let i = 0
                // AppBimfish.timer = setInterval(() => {
                //   if (i % 2 == 0) {
                //     AppBimfish.setThemingColorArray(result, ...haveInList.color)
                //     AppBimfish.viewer.impl.invalidate(true,false,false)
                //   } else {
                //     AppBimfish.clearThemingColorByGUID(result)
                //   }
                //   i++
                // }, 500)
              })            
              
              // 提前完成楼层高亮
              selectAttribute(advanceList.list, result => {
                AppBimfish.setThemingColorArray(result, ...delayList.color)
              }) 

              // 延期完成楼层高亮
              selectAttribute(delayList.list, result => {
                AppBimfish.setThemingColorArray(result, ...elayList.color)
              })  
              
              // 获取楼层问题
              getFloorProblems()   
            }
          }  
        });  
      }
      
      // if(url.indexOf('/cim6d-data-processing') >=0){
      //   modelUrl = `${location.origin}${url}`
      // }
      // 传入的楼层变色
      function viewSelectFloorNum() {
        let floorNumList = floorNum.split(',')
        let list = []
        floorNumList.map(item => { 
          let itemList = [entityName + '-' + 'F' + item, entityName + 'F' + item] 
          list.push(...itemList)
        })            
        selectAttribute(list, result => {
          AppBimfish.setThemingColorArray(result, 0.1569,0.4,0.7843,0.4)
        }) 
      }
      // 处理要显示的模型数据
      function formatModels(array, ids){
        let params = []
        array.map(item => {
          let newItem = {
            id: item.id,
            modelUrl: api.dataProcess + '/noToken/old/basic/commonFile/get/fdht/bim_' + item.id + '/3d.svf',
            modelName: item.name
          }
          if(ids){
            newItem.ids = ids
          }
          params.push(newItem)
        })
        return params
      }
      var AppBim = {
        // 初始化
        init: function(id){
          let key = '465758F8f2B54E72b6956A8ba3625a73'
          let secret = '5De5712e99b0435AB47a41673B2B1F97faf51014C47041fB97cc12c1bEb7b185'
          let params = formatModels(modelUrlList)
          AppBimfish = new BimfishApp('bimViewer', key, secret, { MemoryLimited: false })
          AppBimfish.init(() =>{
            AppBimfish.showModel(params)              
            AppBimfish.viewer.addEventListener('geometryLoaded', event => { 
              // if(env && !bimfishRead){ 
              //   // 加载质量或安全问题              
              //   if (bimType === '2' || bimType === '3') {
              //     queryQualityList()
              //   }
              //   // 加载进度统计数据
              //   if(bimType === '4'){
              //     queryConstructPlanTaskList()
              //   }               
              // }
              bimfishRead = true
            });  
          })
        },
        /**
         * @description: 通过dbid与modelId显示构件
         * @param {array} array 数组item示例：{modelId:modelId,dbids:dbids}
         */
        showModalByDbIds: function(array) {
          AppBimfish.hideAll()
          array.forEach(item => {
            let model = AppBimfish.findModelByid(item.modelId)
            AppBimfish.viewer.show(item.dbids, model)
          })
        },
        /**
         * @description: 通过guids显示构件
         * @param {array} guids [1,2,3]
         */
        showModalByGuids: function(guids) {
          AppBimfish.hideAll()
          AppBimfish.show(guids)
        },
        /**
         * @description: 显示全部构件
         */
        showAll: function() {
          AppBimfish.bimfishApp.showAll()
        },
        /**
         * @description:  通过guids进项标注，并定位
         * @param {Array} guids  [1,2,3]
         */
        fitViewByGUID: function(guids) {
          // 添加标注
          const icon = '/img/logo.png'
          AppBimfish.addDrawableIconMarkerByGUID(guids, icon, ({ screenPoint, guid }) => {
            //console.log('screenPoint:', screenPoint, guid)
          })
          // 定位
          AppBimfish.fitViewByGUID(guids)
        },
        // 清除模型颜色
        clearColor: function(guids) {
          AppBimfish.bimfishApp.clearThemingColorByGUID(guids)
        },
        /**
         * @description: 根据guid给模型上色
         * @param {Array} guids
         * @param {Array} color [red = 0, green = 0, blue = 0, alpha = 1]
         */
        setColorByGuids: function({ guids, color }) {
          AppBimfish.setThemingColor(guids, ...color)
        },
        /**
         * @description: 根据model和dbid进行上色
         * @param {Array} dbidArray dbid数组
         * @param {Object} model model对象
         * @param {Array} color [red = 0, green = 0, blue = 0, alpha = 1]
         */
        setColorByDbId: function({ dbidArray, model, color }) {
          AppBimfish.setThemingColorByDbId(dbidArray, model, ...color)
        }
      }   
      // 获取bim树
      function queryBimTree() {
        let url = api.system + '/project/bim/newTree/activite/' + projectId
        // let url = !this.entityId ? `${this.api.system}/project/bim/tree/active/${this.projectId}` : `${this.api.system}/bim/version/entity/tree/${this.entityId}`
        http('get', url, '', function(res){
          let datas = res.data || []    
          let list = []
          let entityTreeData = []
          let newList = []
          let selectEntity = []
          function formatArray(array) {
            _(array).forEach(function(item) {
              if (item.type === 3) {
                list.push({id: item.bimResourceId, name: item.bimResourceName})
                selectEntity.push(item.bimResourceId)
                entityTreeData.push({
                  id: item.bimResourceId,
                  label: item.bimResourceName,
                  parentId: item.parentId,
                  parentName: item.parentName
                })
              }
              if (item.children && item.type !== 3) {
                item.children.map(e => {
                  e.parentId = item.bimResourceId
                  e.parentName = item.bimResourceName
                })
                formatArray(item.children)
              }
            });
          }
          formatArray(datas)   
          let parentIdS = []
          entityTreeData.map(item => {
            let index = parentIdS.indexOf(item.parentId)
            if (index < 0) {
              parentIdS.push(item.parentId)
              newList.push({
                value: item.parentId,
                label: item.parentName,
                children: [
                  {
                    value: item.id,
                    label: item.label
                  }
                ]
              })                  
            }else{
              newList[index].children.push({
                value: item.id,
                label: item.label
              })
            }
          })
          this.entityTreeData = newList
          this.selectEntity = selectEntity
          let selectEntityAll = [...selectEntity]
          this.selectEntityAll = selectEntityAll              
          this.loadEntity = [...selectEntity]
          modelUrlList = list.filter(e => selectEntity.indexOf(e.id) >= 0)
          if(modelUrlList.length === 0){
            return
          }
          AppBim.init('bimViewer')
        })
      }
      // queryBimTree()
    </script>
  </body>
  <script>
    new Vue({
      el: '#app',
      data(){
        return {
          modalStatus: false,
          AppBimfish: null,
          configId: getUrlStr('configId'),
          showBtn: getUrlStr('showBtn') === 'true',
          env: getUrlStr('env'),
          url: getUrlStr('url'),
          entityId: getUrlStr('id') || '',
          token: getUrlStr('token'),
          labelName: '关联名称',
          currentGuid: '',
          entityName: getUrlStr('entityName') || '模型展示',
          floorList: [], // 楼层数据
          floorProblemsList: {}, // 楼层问题数据
          floorNum: getUrlStr('floorNum') || '', // 传入楼层数      
          selectEntity: getUrlStr('selectEntity') ? getUrlStr('selectEntity').split(',') : [], // 选择的单体
          selectEntityAll: [], // 所有单体
          projectId: getUrlStr('projectId') || '', // 项目id
          guidArray: getUrlStr('guidArray') ? getUrlStr('guidArray').split(',') : [], // 需要查询的构建数组
          fitViewByGUID: getUrlStr('projectId') === 'true', // 定位到构件
          bimType: getUrlStr('bimType'),
          entityTreeData: [1,2,3],
          modelUrlList: [],
          _: '',
          // 消息提示
          messagePrams: {
            status: false,
            title: ''
          },
          modalList: [], // 问题列表数据
          planTaskList: {
            // 未开始
            0: {
              list: [],
              color: [0.4,0.4,0.4,0.4]
            },
            // 进行中
            1: {
              list: [],
              color: [0.1569,0.4,0.7843,0.4]
            },
            // 已完成
            2: {
              list: [],
              color: [0.1804, 0.6902, 0.2980, 0.4]
            }
          }, // 进度统计数据
          baseUrl: location.origin,
          urgencyDegreeList: [
            { label: '一般', value: 1, color: '#91C1F3' },
            { label: '较大', value: 2, color: '#FFFF00' },
            { label: '严重', value: 3, color: '#FF9650' },
            { label: '重大', value: 4, color: '#FF3333' }
          ],
          selectGuidId: '',
          api: {},
          bimfishRead: false, // bim模型是否初始化完毕
          hideQualityStatus: false, // 是否隐藏问题
          loadEntity: [], // 已加载的单体id
          // 进度模拟模态框
          progressParamsStatus: false,
          progressLoading: false,
          beginDate: '',
          endDate: '',
          progressParams: {
            "beginDate": "",
            "endDate": "",
            "projectId": "",
            "timeSpan": 3,
            "type": 1
          },
          // 开始模拟记录
          progressStart: {
            lastDate: '', // 上个时间点
            pointDate: '2020-07-02', // 当前时间点
            progressTimer: '', // 定时器
            progressTimerSpace: 2000, // 定时任务间隔毫秒
            progressTimeList: [], // 需要模拟的时间轴
            progressTimeIndex: 0 // 当前模拟到的节点索引
          }
        }
      },
      mounted () {
        this.init()          
      },
      methods: {
        // 初始化
        init: function(){
          this._ = _
          this.api = {
            system: `${this.baseUrl}/cim6d-system${this.env}`,
            construction: `${this.baseUrl}/cim6d-construction${this.env}`,
            safety: `${this.baseUrl}/cim6d-quality-safety${this.env}`,
            dataProcess: `${this.baseUrl}/cim6d-bim-light${this.env}`,
            bimSynergy: `${this.baseUrl}/cim6d-bim-synergy${this.env}`,
            bimSchedule: `${this.baseUrl}/cim6d-schedule${this.env}`
          }
          this.queryBimTree()
        },
        // bim初始化
        bimInit: function(){
          let key = '465758F8f2B54E72b6956A8ba3625a73'
          let secret = '5De5712e99b0435AB47a41673B2B1F97faf51014C47041fB97cc12c1bEb7b185'
          let params = formatModels(modelUrlList)
          AppBimfish = new BimfishApp('bimViewer', key, secret, { MemoryLimited: false })
          AppBimfish.init(() =>{
            AppBimfish.showModel(params)              
            AppBimfish.viewer.addEventListener('geometryLoaded', event => { 
              if(env && !bimfishRead){ 
                // // 加载质量或安全问题              
                // if (this.bimType === '2' || this.bimType === '3') {
                //   this.queryQualityList()
                // }
                // // 加载进度统计数据
                // if(this.bimType === '4'){
                //   this.queryConstructPlanTaskList()
                // }               
              }
              bimfishRead = true
            });  
          })
        },
        // 处理要显示的模型数据
        formatModels: function(array, ids){
          let params = []
          array.map(item => {
            let newItem = {
              id: item.id,
              modelUrl: `${this.api.dataProcess}/noToken/old/basic/commonFile/get/fdht/bim_${item.id}/3d.svf`,
              modelName: item.name
            }
            if(ids){
              newItem.ids = ids
            }
            params.push(newItem)
          })
          return params
        },
        // 显示/关闭筛选组件
        showModal: function(){
          this.modalStatus = !this.modalStatus
        },
        // http 请求封装
        http: function(type = 'get', url, data, callBack) {
          if(!this.token){
            return
          }
          $.ajax({  
            headers: {  
              'Content-Type': 'application/json',
              'x-access-token': this.token
            },  
            type,
            dataType: "json",
            data: data,
            url,
            success: function (res) {
              callBack(res)
            }
          })
        },
        // 获取bim树
        queryBimTree: function() {
          let url = `${this.api.system}/project/bim/newTree/activite/${this.projectId}`
          // let url = !this.entityId ? `${this.api.system}/project/bim/tree/active/${this.projectId}` : `${this.api.system}/bim/version/entity/tree/${this.entityId}`
          this.http('get', url, '', res => {
            let datas = res.data || []    
            let list = []
            let entityTreeData = []
            let newList = []
            let selectEntity = []
            const formatArray = array => {
              array.map(item => {
                if (item.type === 3) {
                  list.push({id: item.bimResourceId, name: item.bimResourceName})
                  selectEntity.push(item.bimResourceId)
                  entityTreeData.push({
                    id: item.bimResourceId,
                    label: item.bimResourceName,
                    parentId: item.parentId,
                    parentName: item.parentName
                  })
                }
                if (item.children && item.type !== 3) {
                  item.children.map(e => {
                    e.parentId = item.bimResourceId
                    e.parentName = item.bimResourceName
                  })
                  formatArray(item.children)
                }
              })
            }
            formatArray(datas)   
            let parentIdS = []
            entityTreeData.map(item => {
              let index = parentIdS.indexOf(item.parentId)
              if (index < 0) {
                parentIdS.push(item.parentId)
                newList.push({
                  value: item.parentId,
                  label: item.parentName,
                  children: [
                    {
                      value: item.id,
                      label: item.label
                    }
                  ]
                })                  
              }else{
                newList[index].children.push({
                  value: item.id,
                  label: item.label
                })
              }
            })
            this.entityTreeData = newList
            this.selectEntity = selectEntity
            let selectEntityAll = [...selectEntity]
            this.selectEntityAll = selectEntityAll              
            this.loadEntity = [...selectEntity]
            modelUrlList = list.filter(e => selectEntity.indexOf(e.id) >= 0)
            if(modelUrlList.length === 0){
              return
            }
            this.bimInit() 
          })
        }
      }
    })
  </script>
</html>